.user {
    img{
        width: 40px;
        height: 40px;
    }
}

.username {
    color: #5CB85C;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.date {
    color: #bbb;
    font-size: 12px;
}