.conduit {
    text-decoration: none;
    color: #5CB85C;
    font-size: 17px;
    font-weight: 700;
}

.nav_menu {
    a {
        text-decoration: none;
        color: #bbb;
        font-size: 14px; 
    }
}

.dropDownMenu{
    position: absolute!important;
    right: 0;
    left: auto!important;
}